*{
    margin: 0;
    padding: 0;
}
.extra-div{
    width:100%;
    height:15px;
    /* background-color: orange; */
    margin-top: 3vh;
}

.main-container{
    background-color: black;
    position: relative;
    width:100%;
    height:1000vh;
    overflow: auto;
}





.card{
   width:14%;
   height:40vh;
   background-color: #ffff;
   position: relative;
   border:3px solid orange;
   border-radius:15px;
   margin-top: 1.5rem;
   margin-left: 7.5rem;
   text-align: center;
   flex-wrap: wrap;
   display: inline-block;
   position: relative;
    
}


hr{
    width:100%;
    height:1px;
    background-color: grey;
    position: relative;
    top:1rem;
    margin-bottom: 3vh;
}
.wrapper{
    width:80%;
    height:7vh;
   
    display: flex;
    position: relative;
    justify-content: space-around;
    
    margin-left:auto;
    margin-right: auto;
   
    margin-top:2rem;



  
    
}
.item{
    color:grey;
    font-size: 1.5rem;
    position: absolute;
    
}
.add-items{
    width:12vw;
    height:6vh;
    
   
    font-family: sans-serif;
 
    position: absolute;
    right:0;

    
  
}

.tasklist{
    width:15vw;
    height:6vh;
    /* background-color: red; */
    font-size:1.5rem;
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    position: absolute;
    left:0;
   
    
}
.tasklist span:nth-child(2){
    color:grey;
    position: relative;
    right:6px;
    font-weight: lighter;
   
}
h2{
    display: inline-block;
}

.modals{
    width:20%;
    height:16vh;
    margin: auto;
    background-color: white;
    opacity: 1;
     position: relative;
    top:100px;
    text-align: center;
    color:orange;
    padding-top: 1rem;
    font-family: sans-serif;
    border-radius: 10px;
      display: none;
   z-index:2;
    position: fixed;
    transform: translateX(40vw);
    top:13rem;

   

    
   
}
.modals input{
    width:70%;
    height:3vh;
    margin:auto;
    text-align: center;
    position: relative;
    top:0.5rem;
    border:1px solid black;
    border-radius: 5px;
}
.button-wrapper{
    width:100%;
    height:7vh;
    
   
    margin: auto;
    position: relative;
    top:1rem;
}
.button-wrapper button{
    width:35%;
    height:5vh;
    background-color: orange;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.filters{
  filter: blur(2px);
}
.pointers{
    pointer-events: none;
}

.card-container{
    width:90%;



   
   margin-left:auto;
   margin-right: auto;
   margin-top:1rem;
    position: relative;
    
 
    display: flex;
    flex-wrap: wrap;
    

}
.sub-item{
    width:1.5rem;
    height:auto;
    /* background-color: green; */
    position: absolute;
    right:0;
    bottom: 0;
    
    
  
   
  

}
.pluses{
    width:1.5rem;
    height:auto;
    
    position: absolute;
    bottom:0;
    right:2rem;
    /* background-color: red; */
  
}
.card-title{
    color:orange;
    position: relative;
    top:0.5rem;
    font-family: sans-serif;
    width:100%;
    cursor: pointer;
    /* background-color: yellow; */

    
  
}
a{
    text-decoration: none;
}


.sub-task-btn{
    width:4rem;
    height:2vh;
    font-size: 0.8rem;
    color:white;
    border-radius: 15px;
    background-color: blue;
    text-align: center;
}
.task{
    width:10rem;
    height:auto;
    
   display: flex;
   justify-content: space-evenly;
   align-items: center;  
   position: relative;
   
  
    margin: auto;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    /* background-color: red; */
    margin-top:0;
    
  
}
.b1{
    width:3.5rem;
    height:2vh;
    background-color: blue;
    color:white;
    font-size:8px;
    border-radius: 20px;
    cursor:pointer;
  
}
.no-items{
    width:20%;
    height:6vh;
    
    margin-left:10vw;
   
  
}
.no-items h3{
    color:white;
    font-family: sans-serif;
  
    float:left;
}
.headers{
    width:70%;
    height:10vh;
   
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header3{
    color:white;
 
    width:auto;
    height:5vh;
}
.card-storage{
    width:90%;
    height:80vh;
    margin:auto;
   
   
   
}
.card-box{
    width:14%;
    height:40vh;
    background-color: #ffff;
    position: relative;
    border:3px solid orange;
    border-radius:15px;
    
    text-align: center;
     margin: auto;
     position: relative;
     top:2rem;
}
.hr-line{
    width:12rem;
    height:1px;
    background-color: grey;
    position: relative;
    top:3rem;
}
.title{
    width:20%;
    height:7vh;
 
    text-align: center;
    font-size: 2rem;
    color:white;
    font-family: sans-serif;
 
}

@media (max-width:1100px) and (orientation:portrait){
    .main-container{
        width:100%;
        position: relative;
    }
    
    .modals{
        width:50%;
        height:16vh;
        transform: translateX(25vw);
    }

    .wrapper{
        width:100%;
        height:7vh;
   
        display: flex;
        justify-content: space-around;
        align-items: center;

   
        font-size: 1.5rem;
}
    .card{
   width:50%;
  height:40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top:1rem;
 
   }

   .no-items{
    width:20%;
    height:6vh;
    
    margin-left:8vw;
    margin-top: 2rem;
   
  
}

.tasklist{
    display: flex;
    position: relative;
    width:36vw;
    top:0.5rem;
    left:7vw;
    /* background-color: green; */
  
    
  
}
.tasklist span:nth-child(2){
    position: relative;
    left:0.05rem;
   
}

hr{
    width:45vw;
}
.add-items{
    position: relative;
    right:-1rem;
    font-size: 5px;
    width:40%;
    top:0.8rem;

}
.add-items span{
  font-size: 1.2rem;
}
.add-items span:nth-child(2){
    position: relative;
    left:0.1rem;
}

.task{
    width:7rem;
    height:auto;
    margin: auto;
    /* background-color: green; */
    margin-top: 0;
    clear:left;
}
.b1{
    height: auto;
    /* background-color: yellow; */
}
.title{
    width:40%;
    height:5vh;
    
    position: relative;
    
    text-align: center;
    font-size: 2rem;
    color:white;
    font-family: sans-serif;
    top:0.5rem;
   

}
.title{
    font-size: 1.5rem;
}
}


@media (max-width:1100px) and (orientation:landscape){
    .main-container{
        width:100%;
        position: relative;
    }
    
    .modals{
        width:50%;
        height:40vh;
        transform: translate(25vw,-30vh);
        line-height: 8vh;
    }

    .wrapper{
        width:100%;
        height:14vh;
        /* background-color: yellow; */
        display: flex;
        justify-content: space-around;
        align-items: center;

        
        font-size: 1.5rem;
}
#btn,#btn1{
    height:10vh;
    width:45%;
}
.button-wrapper{
    height:10vh;
    /* background-color: green; */
    margin-top: 5vh;
}
#ip{
    height: 6vh;
 
    /* background-color: green; */
}
    .card{
   width:40%;
  height:80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top:10vh;
  
 
   }

   .no-items{
    width:20%;
    height:6vh;
    
    margin-left:7vw;
    margin-top: 2rem;
   
  
}

.tasklist{
    display: flex;
    position: relative;
    width:36vw;

    left:6vw;
    height:auto;
    /* background-color: green; */
  
    
  
}
.tasklist span:nth-child(2){
    position: relative;
    left:0.05rem;
   
}



hr{
    width:100%;
}
.add-items{
    position: relative;
    right:-1rem;
    font-size: 5px;
    width:40%;
   
    height:auto;
    /* background-color: red; */

}
.add-items span{
  font-size: 1.2rem;
}
.add-items span:nth-child(2){
    position: relative;
    left:0.1rem;
}

.task{
    width:7rem;
    height:auto;
    margin: auto;
    margin-top: 4vh;
    /* background-color: yellow; */
}
.b1{
    height:auto;
    

}

.title{
    width:40%;
    height:5vh;
    
    position: relative;
    
    text-align: center;
    font-size: 2rem;
    color:white;
    font-family: sans-serif;
    top:0.5rem;
   

}
.extra-div{
  margin-top: 4vh;
}
hr{
    margin-bottom: 6vh;
}

}
.title{
    font-size: 1.5rem;
}
}